*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-rect::after, .rectangle::after{
    content: "";
    display: table;
    clear: both;
}


/*CONTAINER*/
section.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    padding-bottom: 20px;
}


/*TITOLO E PARAGRAFO*/
h1.titol{
    color: rgb(178, 0, 0);
    padding: 10px;
    font-family: 'Fredoka One', cursive;
}

.container > p{
    margin-top: 25px;
    font-size: 14px;
}

/*RETTANGOLI DENTRO AL CONTAINER*/
.container-rect .rectangle{
    width: 30%;
    background-color: rgb(0, 1, 38);
    color: white;
    float: left;
    margin-right: 5%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px black;
}

.rectangle:nth-child(3n + 3){
    margin-right: 0;
}

.rectangle > figure{
    width: 25%;
}
figure img{
    max-width: 100%;
    float: left;
}

.rectangle .rect-text{
    float: left;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

.rect-text > *{
    margin-bottom: 8px;
}

.rect-text > p{
    font-size: 10px;
}

.rect-text :last-child{
    margin-bottom: 0;
}

.rect-text p.mail-blue{
    color: blue;
}