*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-family: 'Fredoka', sans-serif;
}

h1.titol{
    color: fuchsia;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
}

.container > p{
    margin: 25px 0;
    font-size: 12px;
}

.container-rect::after, .rectangle::after{
    content: "";
    display: table;
    clear: both;
}

.rectangle{
    width: 30%;
    background-color: black;
    color: white;
    float: left;
    margin-right: 5%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px black;
}

.rectangle:nth-child(3n + 3){
    margin-right: 0;
}

figure{
    width: 25%;
}

.rectangle img{
    width: 100%;
    float: left;
}

.rect-text{
    float: left;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

div.rect-text > p{
    font-size: 10px;
}

.rect-text :last-child{
    margin-bottom: 0;
}

.rect-text > *{
    margin-bottom: 8px;
}

.rect-text p.mail-blue{
    color: blue;
}